:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Disable elastic scroll on macOS so it doesn't interfere with 2-finger trackpad zooming */
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.layout__loading {
  flex: 1 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.layout__nav {
  background: #333;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: start;
  gap: 5px;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.nav-links {
  margin-left: auto;
}

.nav-links > a {
  color: #438dd5;
  margin-left: 10px;
}

.layout__diagram {
  flex: 1 1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.structurizrDiagramViewport {
  background: #fff;
  overflow: hidden !important; /* Override the `hidden scroll` coming from Structurizr that causes scrollbars on zoom in Chrome */
}

.structurizrDiagramCanvas {
  margin: 0 !important;
}

label {
  color: #bbb;
  font-size: 1.1rem;
}

.input {
  border: none;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  max-width: 400px;
  padding: 5px;
  width: 100%;
}

.autocomplete-option > small {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7rem;
  color: #777;
  border-bottom: 1px solid #eee;
}

.btn {
  background: #438dd5;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
}

.is-hidden {
  display: none;
}
