:root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.layout__nav {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* height: 50px; */
  padding: 5px;
  position: relative;
  z-index: 2;
}

.layout__diagram-root {
  flex: 1 1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.layout__structurizr-target {
  height: 100%;
  width: 100%;
}

.structurizrDiagramViewport {
  height: 100% !important;
  width: 100% !important;
}

#structurizr-diagram-target-canvas {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important; /* Navigation#setDiagram reads this and repurposes as padding on the SVG */
}

.structurizrDiagramViewport svg {
  box-sizing: content-box; /* So the padding hack in Navigation#setDiagram works */
}

label {
  color: #bbb;
  font-size: 1.1rem;
}

.input {
  border: none;
  border-radius: 4px;
  display: block;
  font-size: 1.1rem;
  max-width: 400px;
  padding: 5px;
  width: 100%;
}

.autocomplete-option > small {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7rem;
  color: #777;
  border-bottom: 1px solid #eee;
}

.btn {
  background: #438dd5;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 5px;
}

.zoom {
  display: flex;
  gap: 1px;
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 2;
}

.zoom > button {
  background: #438dd5;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  width: 35px;
  height: 35px;
}

#zoomIn {
  border-radius: 4px 0 0 4px;
  cursor: zoom-in;
}
#zoomOut {
  border-radius: 0 4px 4px 0;
  cursor: zoom-out;
}

/*
* Basic layout copied from https://a11y-dialog.netlify.app/usage/styling
*******************************************************************/

/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog-container,
.dialog-overlay {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

/**
 * 1. Make sure the dialog container and all its descendants sits on
 *    top of the rest of the page.
 * 2. Make the dialog container a flex container to easily center the
 *    dialog.
 */
.dialog-container {
  z-index: 2; /* 1 */
  display: flex; /* 2 */
}

/**
 * 1. Make sure the dialog container and all its descendants are not
 *    visible and not focusable when it is hidden.
 */
.dialog-container[aria-hidden='true'] {
  display: none; /* 1 */
}

/**
 * 1. Make the overlay look like an overlay.
 */
.dialog-overlay {
  background-color: rgb(43 46 56 / 0.9); /* 1 */
}

/**
 * 1. Vertically and horizontally center the dialog in the page.
 * 2. Make sure the dialog sits on top of the overlay.
 * 3. Make sure the dialog has an opaque background.
 */
.dialog-content {
  margin: auto; /* 1 */
  z-index: 2; /* 2 */
  position: relative; /* 2 */
  background-color: white; /* 3 */
}
.dialog-content {
  overflow: auto;
  max-height: 90vh;
}

/*
* Modal customisations
*******************************************************************/
.dialog-content {
  max-width: 90vw;
  padding: 10px;
  width: 500px;
}

.dialog-content__inner {
  padding-top: 1rem;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
}
